<script spec="view" type="application/json">
  {
    "name" : "A",
    "type" : "content",
    "autoLoad" : true,
    "impl" : "Trillo.ContentView",
    "container" : "c1"
  }
</script>

<div class="content" nm="A">
  <h1>
    Title
  </h1>
  <img src="/collager/shared/static/img/placeholder.png" title="Placeholder image, change or delete" style=
  "max-width: 90%;text-align: center; margin: 0 auto; display: block; padding: 15px;">
  <p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec nisi faucibus, placerat dui ornare, aliquet
      dolor. Donec nulla dolor, sollicitudin id placerat vel, lacinia vitae libero. Donec enim turpis, lobortis
      faucibus tempor et, maximus in quam. Donec pellentesque arcu non lectus ultricies hendrerit. Ut ipsum felis,
      varius tempus rhoncus eu, euismod eu nisl. Aliquam erat volutpat. Praesent vel lorem eu urna malesuada imperdiet.
      Nunc bibendum tellus metus, id posuere eros volutpat eu. Vivamus iaculis viverra arcu, ut rutrum nulla.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec nisi faucibus, placerat dui ornare, aliquet
      dolor. Donec nulla dolor, sollicitudin id placerat vel, lacinia vitae libero. Donec enim turpis, lobortis
      faucibus tempor et, maximus in quam. Donec pellentesque arcu non lectus ultricies hendrerit. Ut ipsum felis,
      varius tempus rhoncus eu, euismod eu nisl. Aliquam erat volutpat. Praesent vel lorem eu urna malesuada imperdiet.
      Nunc bibendum tellus metus, id posuere eros volutpat eu. Vivamus iaculis viverra arcu, ut rutrum nulla.
    </p>
  </p>
</div>