<script spec="view" type="application/json">
  {
    "name" : "ChartView8",
    "type" : "chart",
    "autoLoad" : true,
    "impl" : "Trillo.ChartView",
    "container" : "ChartView8_container",
    "apiSpec" : {
      "impl" : "Trillo.RestAdapter",
      "serviceUrl" : "/api/data/8"
    }
  }
</script>

<script spec="chart" type="application/json">
  [
    {
      "xAttr" : "x",
      "yAttrs" : [
        "y1",
        "y2",
        "y3"
      ],
      "type" : "bar",
      "displayName" : "Bar Chart",
      "axis" : {
        "y" : {
          "label" : {
            "text" : "Y Label",
            "position" : "outer-middle"
          }
        }
      },
      "zoom": {
        "enabled": true
      },
      "name" : "Chart8"
    }
  ]
</script>

<div class="chart-view" nm="ChartView8">
  <div class="trillo-chart-c js-chart-cell" nm="Chart8">
    <div class="trillo-title js-title">
      Bar Chart
    </div>
    <div class="chart js-chart">
    </div>
  </div>
</div>