<script spec="view" type="application/json">
  {
    "name" : "Dashboard3",
    "type" : "dashboard",
    "displayName" : "Dashboard3",
    "impl" : "Trillo.DashboardView",
    "container" : "main-container",
    "controller" : "Trillo.DashboardController"
  }
</script>

<div nm="Dashboard3">
  <div class="js-flex-grid trillo-flex-grid" style="padding: 5px 5px">
    <div nm="db1_r1" class="trillo-flex-row js-flex-row">
        <div viewname="U" class="trillo-flex-cell js-flex-cell" min-width="150" min-height="150">
          <!--#include file="topbar2.htm" -->
          <div nm="U_container" class="trillo-cell-content js-non-native-scrollbar" style=
          "position:relative">
          <h1>1</h1>
          </div>
        </div>
        <div viewname="V" class="trillo-flex-cell js-flex-cell" min-width="150" min-height="150">
          <!--#include file="topbar2.htm" -->
          <div nm="V_container" class="trillo-cell-content js-non-native-scrollbar" style=
          "position:relative">
          <h1>2</h1>
          </div>
        </div>
        <div viewname="X" class="trillo-flex-cell js-flex-cell" min-width="150" min-height="150">
          <!--#include file="topbar2.htm" -->
          <div nm="X_container" class="trillo-cell-content js-non-native-scrollbar" style=
          "position:relative">
          <h1>3</h1>
          </div>
        </div>
        <div viewname="Y" class="trillo-flex-cell js-flex-cell" min-width="150" min-height="150">
          <!--#include file="topbar2.htm" -->
          <div nm="Y_container" class="trillo-cell-content js-non-native-scrollbar" style=
          "position:relative">
          <h1>4</h1>
          </div>
        </div>
    </div>
    <div nm="db1_r2" class="trillo-flex-row js-flex-row">
      <div class="trillo-flex-cell js-flex-cell" min-width="300" min-height="450" viewname="ChartView1">
        <!--#include file="topbar.htm" -->
        <div class="trillo-cell-content js-non-native-scrollbar" style="position:relative" nm=
        "ChartView1_container">
        <h1>5</h1>
        </div>
      </div>
      <div nm="db1_r2_c" class="trillo-flex-col js-flex-col">
        <div viewname="U" class="trillo-flex-cell js-flex-cell" min-width="150" min-height="120">
          <!--#include file="topbar2.htm" -->
          <div nm="U_container" class="trillo-cell-content js-non-native-scrollbar" style=
          "position:relative">
          <h1>6A</h1>
          </div>
          <div class="js-size-handle trillo-cell-size-handle"></div>
        </div>
        <div viewname="V" class="trillo-flex-cell js-flex-cell" min-width="150">
          <!--#include file="topbar2.htm" -->
          <div nm="V_container" class="trillo-cell-content content js-non-native-scrollbar" style=
          "position:relative; padding:15px">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec nisi faucibus, placerat dui ornare, aliquet
    dolor. Donec nulla dolor, sollicitudin id placerat vel, lacinia vitae libero. Donec enim turpis, lobortis faucibus
    tempor et, maximus in quam. Donec pellentesque arcu non lectus ultricies hendrerit. Ut ipsum felis, varius tempus
    rhoncus eu, euismod eu nisl. Aliquam erat volutpat. Praesent vel lorem eu urna malesuada imperdiet. Nunc bibendum
    tellus metus, id posuere eros volutpat eu. Vivamus iaculis viverra arcu, ut rutrum nulla.
          </div>
        </div>
        <div viewname="X" class="trillo-flex-cell js-flex-cell" min-width="150" min-height="120">
          <!--#include file="topbar2.htm" -->
          <div nm="X_container" class="trillo-cell-content js-non-native-scrollbar" style=
          "position:relative">
          <h1>6C</h1>
          </div>
        </div>
      </div>
    </div>
    <div nm="db1_r3" class="trillo-flex-row js-flex-row">
      <div class="trillo-flex-cell js-flex-cell" min-width="300" min-height="450" viewname="ChartView2">
        <!--#include file="topbar.htm" -->
        <div class="trillo-cell-content js-non-native-scrollbar" style="position:relative" nm=
        "ChartView2_container">
        <h1>7</h1>
        </div>
      </div>
      <div class="trillo-flex-cell js-flex-cell" min-width="300" min-height="450" viewname="ChartView3">
        <!--#include file="topbar.htm" -->
        <div class="trillo-cell-content js-non-native-scrollbar" style="position:relative" nm=
        "ChartView3_container">
        <h1>8</h1>
        </div>
      </div>
      <div class="trillo-flex-cell js-flex-cell" min-width="300" min-height="450" viewname="ChartView4">
        <!--#include file="topbar.htm" -->
        <div class="trillo-cell-content js-non-native-scrollbar" style="position:relative" nm=
        "ChartView4_container">
        <h1>9</h1>
        </div>
      </div>
    </div>
    <div nm="db1_r4" class="trillo-flex-row js-flex-row">
      <div class="trillo-flex-cell js-flex-cell" min-width="300" min-height="450" viewname="ChartView5">
        <!--#include file="topbar.htm" -->
        <div class="trillo-cell-content js-non-native-scrollbar" style="position:relative" nm=
        "ChartView5_container">
        <h1>10</h1>
        </div>
      </div>
      <div class="trillo-flex-cell js-flex-cell" min-width="300" min-height="450" viewname="ChartView6">
        <!--#include file="topbar.htm" -->
        <div class="trillo-cell-content js-non-native-scrollbar" style="position:relative" nm=
        "ChartView6_container">
        <h1>11</h1>
        </div>
      </div>
      <div class="trillo-flex-cell js-flex-cell" min-width="300" min-height="450" viewname="ChartView7">
        <!--#include file="topbar.htm" -->
        <div class="trillo-cell-content js-non-native-scrollbar" style="position:relative" nm=
        "ChartView7_container">
        <h1>12</h1>
        </div>
      </div>
    </div>
  </div>
 
  <div class="trillo-flex-grid-iconbar js-flex-grid-iconbar">
    <div style="font-size:20px" class=
    "glyphicon glyphicon-modal-window trillo-flex-minified-icon js-flex-minified-icon">
    </div>
  </div>
</div>