<div class="trillo-cell-topbar js-drag-handle">
  <i nm="minify" title="Minify" class="fa fa-minus-circle js-tool"></i>
  
  <div class="trillo-cell-topbar-menu  dropdown">
    <i class="dropdown-toggle js-menu-trigger fa fa-ellipsis-v" data-toggle="dropdown"></i>
    <ul class="dropdown-menu js-menu-items-c">
      <li class="js-menu-item">
        <a nm="tool1" href="#" title="This is tool1" class="js-tool">
          Tool1
        </a>
      </li>
      <li class="js-menu-item">
        <a nm="tool2" href="#" title="This is tool2" class="js-tool">
          Tool2
        </a>
      </li>
    </ul>
  </div>  
  
</div>