<div class="js-modal trillo-modal  modal" style="display: none">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&#215;</span>
         
        <span class="sr-only">Close</span>
        </button>
        <h4 nm="modalTitle" class="modal-title">
          Modal title
        </h4>
      </div>
      <div class="modal-body">
        <p nm="modalMessage">
        </p>
      </div>
      <div class="modal-footer">
        <button nm="modalYes" display="none" class="btn">Yes</button>
        <button nm="modalNo" display="none" class="btn">No</button>
        <button nm="modalOK" type="button" class="btn">OK</button>
        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- /.modal -->

